body {
  font-family: 'Avenir Next';
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
  color: white;
  background-color: #1E1E1E;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  background-color: #1E1E1E;
  position: fixed;
  width: 100vw;
  top: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-around;;
}

nav a {
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 5px;
  letter-spacing: 0.15em;
  width: 18vw;
  color: #6B6B6B;
}

nav a:hover, a#home:hover {
    letter-spacing: 0.3em;
    color: #FCF760;
  }

a#home {
  width: 30vw;
  color: white;
}

h1 {
  text-transform: uppercase;
  color: #FCF760;
  border: 4px solid #FCF760;
  padding: 5px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 24px;
  width: 80vw;
  letter-spacing: 0.1em;
  font-weight: 500;
}

h3, p, li, textarea {
  font-family: 'Cormorant Garamond', serif;
}

h4 {
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
  color: #FCF760;
}

h3 {
  color: white;
  margin: 10px 0;
  font-size: 18px;
}

p {
  text-align: left; 
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  margin: 20px auto;
  height: 350px;
}

#about, #skills, #contact, #projects-container {
  width: 100vw;
  margin: 0 auto;
  padding: 50px 0;
}
 
textarea, input {
  font-family: 'Avenir Next';
}

textarea {
  border: 2px solid #6B6B6B;
  background-color: #1E1E1E;
  color: white;
  width: 80vw;
  padding: 8px;
  font-size: 14px;
  text-align: left;
  margin-left: 0;
}

input[type='email'] {
  font-size: 14px;
  padding: 8px;
  width: 94%;
}

input[type='submit'] {
  font-weight: 500;
  font-size: 14px;
  padding: 8px;
  width: 100px;
  border: 2px solid #FCF760;
  background-color: #1E1E1E;
  color: #FCF760;
}

input[type='submit']:hover {
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid #6B6B6B;
  color: #6B6B6B;
} 

img {
  height: 35vh;
  margin: auto;
}

img:hover, a:hover {
  transition: 0.5s;
}

#about p {
  line-height: 1.5em;
  font-size: 18px;
  padding: 5vh 30px;
}

span a {
  color: #FCF760;
}

ul {
  text-align: left;
  list-style: none;
  padding: 0;
  justify-content: flex-start;
  margin: auto;
}

li {
  line-height: 2.5em;
  text-align: center;
  font-size: 18px;
}

#projects {
  display: flex;
  overflow-x: scroll; 
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 30px;
  margin: 10px 20px;
}

#projects-container {
  min-height: 500px;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  margin: 20px auto;
}

.contact-links i {
  font-size: 28px;
  margin-top: 20px;
}

.contact-links a {
  width: 20vw;
  margin: 10px;
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #6B6B6B;
}

.contact-links a:hover {
  margin-top: -5px;
  transition: 0.8s;
  color: #FCF760;
} 

.contact-links a:hover h3 {
  color: #FCF760;
  transition: 0.8s;
}

.contact-links h3 {
  font-family: 'Avenir Next';
  font-weight: 500;
  font-size: 14px;
  color: #6B6B6B;
}

.project {
  text-align: left;
  padding: 0 4vw;
}

.project p {
  font-size: 14px;
  line-height: 1.5em;
}

#projects::-webkit-scrollbar {
  height: 7px;
}

#projects::-webkit-scrollbar-track {
  border: 2px solid #6B6B6B;
}

#projects::-webkit-scrollbar-thumb {
  background-color: #6B6B6B;
}

a.github {
  font-size: 14px;
  line-height: 3em;
}








@media (min-width: 650px) {
  h1 {
    font-size: 36px;
  }
  nav {
    height: 50px;
  }
  nav a {
    font-size: 15px;
    width: 120px;
  }  

  #about p {
    font-size: 22px;
    width: 70vw;
    margin: 20px auto;
  }

  img {
    height: 50vh;
    width: auto;
  }

  .project p {
    font-size: 16px;
  }

  img:hover {
    transition: 0.4s; 
   }

  .contact-links i {
    font-size: 28px;
  }

  .contact-links a {
    width: 20vw;
    margin: 10px;
    padding: 10px 0;
    text-align: center;
  }

  ul {
    width: 60vw;
    margin: auto;
  }
}

